<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Room Chat</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div id="app" class="container">
        <div class="row">

            <div id="login_page" class="col-md-6 col-md-offset-3" v-show="shouldShowLoginPage">
                <h3>Welcome to Global Room Chat!</h3>
                <form action="" id="join_chat_form" v-on:submit.prevent="submitHandle">
                    <div class="form-group">
                        <label for="handle_name">Your handle name</label>
                        <input type="text" class="form-control" id="handle_name" placeholder="ex. riandyrn" ref="handle" v-model="handle" autofocus required><br>
                        <button type="submit" class="btn btn-default pull-right">Join Chat</button>
                    </div>
                </form>
            </div>

            <div id="chat_page" class="col-md-12" v-show="shouldShowChatPage">
                <h3>#GlobalRoomChat</h3>

                <div id="messages" ref="messages">
                    <ul>
                        <li v-for="msg in messages" v-bind:class="getContainerClass(msg.what)">
                            <span class="event-box" v-if="msg.isEvent">
                                <small>{{ msg.from }} {{ msg.what }} conversation</small>
                            </span>
                            <div class="message-box" v-if="msg.isMessage">
                                <h6 v-bind:style="{color: getHandleColor(msg.from)}">[{{ msg.from }}]</h6>
                                <p class="message-content">{{ msg.content }}</p>
                                <p class="timestamp">{{ formatTimestamp(msg.ts) }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <form action="" id="send_message_form" v-on:submit.prevent="submitMessageInput">
                    <div id="chat_control" class="input-group">
                        <input type="text" placeholder="Enter your message here..." id="message" name="message" class="form-control" ref="messageInput" v-model="messageInput" autocomplete="off" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/jquery-3.2.1.js"></script>
    <script src="assets/js/moment.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
